In [18]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns

In [19]:
#Save path to data set in a variable
data_file = "city_data.csv"
data_file2 = "ride_data.csv"

In [21]:
#Use pandas to read the data
#print(data_file)
#data_file_pd = pd.read_json(data_file)
# pd_file = pd.read_csv(data_file)
# pd_file.head()

pd_file = pd.read_csv(data_file)
pd_file.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [22]:
pd_file2 = pd.read_csv(data_file2)
pd_file2.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [35]:
#Merge the files together on city, which is the common field between the two.
# Merge our two data frames together
combined_pyber_data = pd.merge(pd_file, pd_file2 , on="city")
combined_pyber_data.head()

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829

In [8]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb\\MatplotlibHW'

In [47]:
#% of Total Fares 
demogroup = combined_pyber_data.groupby(["city","type"])
demogroup

In [48]:
demogroup.head()

,city,driver_count,type,date,fare,ride_id
0,Kelseyland,63,Urban,2016-08-19 04:27:52,5.51,6246006544795
1,Kelseyland,63,Urban,2016-04-17 06:59:50,5.54,7466473222333
2,Kelseyland,63,Urban,2016-05-04 15:06:07,30.54,2140501382736
3,Kelseyland,63,Urban,2016-01-25 20:44:56,12.08,1896987891309
4,Kelseyland,63,Urban,2016-08-09 18:19:47,17.91,8784212854829
28,Nguyenbury,8,Urban,2016-07-09 04:42:44,6.28,1543057793673
29,Nguyenbury,8,Urban,2016-11-08 19:22:04,19.49,1702803950740
30,Nguyenbury,8,Urban,2016-03-19 13:08:09,35.07,9198401002936
31,Nguyenbury,8,Urban,2016-05-12 15:57:15,41.63,224683791660
32,Nguyenbury,8,Urban,2016-04-07 06:59:51,19.01,4648481871830
54,East Douglas,12,Urban,2016-10-01 19:07:00,16.36,8450340983211
55,East Douglas,12,Urban,2016-07-19 07:42:04,11.24,8566233760392
56,East Douglas,12,Urban,2016-09-20 02:40:41,23.26,825335145222
57,East Douglas,12,Urban,2016-04-02 13:49:14,28.17,3800595642657
58,East Douglas,12,Urban,2016-10-19 20:25:16,28.18,6204409645686
76,West Dawnfurt,34,Urban,2016-07-24 15:18:57,30.80,3839329929610
77,West Dawnfurt,34,Urban,2016-03-06 18:21:13,28.26,3899054595030
78,West Dawnfurt,34,Urban,2016-09-18 18:24:17,19.67,2851656538564
79,West Dawnfurt,34,Urban,2016-01-03 11:35:45,6.69,7455207171412
80,West Dawnfurt,34,Urban,2016-09-25 16:35:54,22.28,9242784905015
105,Rodriguezburgh,52,Urban,2016-09-05 05:20:39,4.54,9650770953139
106,Rodriguezburgh,52,Urban,2016-11-21 10:41:56,26.13,6513545702246
107,Rodriguezburgh,52,Urban,2016-05-22 21:34:07,8.83,5135321621391
108,Rodriguezburgh,52,Urban,2016-10-07 11:09:50,25.19,7709877217148
109,Rodriguezburgh,52,Urban,2016-06-11 21:01:35,27.66,6959463827218
128,South Josephville,4,Urban,2016-06-01 05:15:38,28.33,7956832876432
129,South Josephville,4,Urban,2016-10-06 03:53:57,28.19,2604125036913
130,South Josephville,4,Urban,2016-03-11 23:05:39,29.12,7477161326509
131,South Josephville,4,Urban,2016-03-24 18:38:25,13.73,1488440031973
132,South Josephville,4,Urban,2016-08-28 04:52:03,38.51,4250063766740
...,...,...,...,...,...,...
2355,Stevensport,6,Rural,2016-02-22 02:45:07,19.91,808097865942
2356,North Whitney,10,Rural,2016-04-01 21:21:37,51.01,612689673941
2357,North Whitney,10,Rural,2016-04-26 09:35:48,42.09,9465134041656
2358,North Whitney,10,Rural,2016-06-24 21:09:09,50.03,9224879345166
2359,North Whitney,10,Rural,2016-06-10 18:27:03,29.25,4071225680519
2360,North Whitney,10,Rural,2016-02-21 18:20:14,42.01,3306522110065
2366,East Stephen,6,Rural,2016-02-16 11:58:06,22.43,8118042484039
2367,East Stephen,6,Rural,2016-07-27 09:55:18,41.64,3154261826545
2368,East Stephen,6,Rural,2016-07-11 01:21:31,41.86,1023430862078
2369,East Stephen,6,Rural,2016-11-19 04:47:01,43.84,7366535419230
2370,East Stephen,6,Rural,2016-05-23 12:55:48,48.49,9985496304508
2376,East Leslie,9,Rural,2016-04-21 18:44:59,19.26,5836114186294
2377,East Leslie,9,Rural,2016-04-13 04:30:56,40.47,7075058703398
2378,East Leslie,9,Rural,2016-04-26 02:34:30,45.80,9402873395510
2379,East Leslie,9,Rural,2016-04-05 18:53:16,44.78,6113138249150
2380,East Leslie,9,Rural,2016-11-13 10:21:10,15.71,7275986542384
2387,Hernandezshire,10,Rural,2016-02-20 08:17:32,58.95,3176534714830
2388,Hernandezshire,10,Rural,2016-06-26 20:11:50,28.78,6382848462030
2389,Hernandezshire,10,Rural,2016-01-24 00:21:35,30.32,7342649945759
2390,Hernandezshire,10,Rural,2016-03-05 10:40:16,23.35,7443355895137
2391,Hernandezshire,10,Rural,2016-04-11 04:44:50,10.41,9823290002445
2396,Horneland,8,Rural,2016-07-19 10:07:33,12.63,8214498891817
2397,Horneland,8,Rural,2016-03-22 21:22:20,31.53,1797785685674
2398,Horneland,8,Rural,2016-01-26 09:38:17,21.73,5665544449606
2399,Horneland,8,Rural,2016-03-25 02:05:42,20.04,5729327140644
2400,West Kevintown,5,Rural,2016-11-27 20:12:58,12.92,6460741616450
2401,West Kevintown,5,Rural,2016-02-19 01:42:58,11.15,8622534016726
2402,West Kevintown,5,Rural,2016-03-11 09:03:43,42.13,4568909568268
2403,West Kevintown,5,Rural,2016-06-25 08:04:12,24.53,8188407925972
2404,West Kevintown,5,Rural,2016-07-24 13:41:23,11.78,2001192693573

In [40]:
type(pd_file.groupby(["city","type"]))

pandas.core.groupby.DataFrameGroupBy

In [25]:
list(pd_file.groupby(["type"]))

[('Rural',                      city  driver_count   type
  108  South Elizabethmouth             3  Rural
  109         East Troybury             3  Rural
  110             Kinghaven             3  Rural
  111          New Johnbury             6  Rural
  112              Erikport             3  Rural
  113           Jacksonfort             6  Rural
  114           Shelbyhaven             9  Rural
  115           Matthewside             4  Rural
  116          Kennethburgh             3  Rural
  117          South Joseph             3  Rural
  118         Manuelchester             7  Rural
  119           Stevensport             6  Rural
  120         North Whitney            10  Rural
  121          East Stephen             6  Rural
  122           East Leslie             9  Rural
  123        Hernandezshire            10  Rural
  124             Horneland             8  Rural
  125        West Kevintown             5  Rural),
 ('Suburban',                      city  driver_count      type
  66            Carrollbury             4  Suburban
  67         Williamchester            26  Suburban
  68       New Michelleberg             9  Suburban
  69              West Evan             4  Suburban
  70     South Gracechester            19  Suburban
  71   East Jenniferchester            22  Suburban
  72          West Paulport             5  Suburban
  73     New Brandonborough             9  Suburban
  74             Floresberg             7  Suburban
  75            Lake Brenda            24  Suburban
  76                Kyleton            12  Suburban
  77             Thomastown             1  Suburban
  78   South Shannonborough             9  Suburban
  79             Jeffreyton             8  Suburban
  80      Port Michelleview            16  Suburban
  81     West Pamelaborough            27  Suburban
  82              Sarahview            18  Suburban
  83       New Cindyborough            20  Suburban
  84             Port James            15  Suburban
  85       New Samanthaside            16  Suburban
  86               Paulfort            13  Suburban
  87              Jasonfort            25  Suburban
  88             North Tara            14  Suburban
  89        East Cherylfurt             9  Suburban
  90          Rodriguezview            10  Suburban
  91             Tiffanyton            21  Suburban
  92        Port Alexandria            27  Suburban
  93         South Jennifer             6  Suburban
  94             Anitamouth            16  Suburban
  95            Conwaymouth            18  Suburban
  96               New Lynn            20  Suburban
  97              Port Jose            11  Suburban
  98               Johnland            13  Suburban
  99              West Tony            17  Suburban
  100            Port James             3  Suburban
  101          Campbellport            26  Suburban
  102          Port Guytown            26  Suburban
  103           Webstertown            26  Suburban
  104             Clarkstad            21  Suburban
  105       North Tracyfort            18  Suburban
  106           Martinmouth             5  Suburban
  107      New Jessicamouth            22  Suburban),
 ('Urban',                  city  driver_count   type
  0          Kelseyland            63  Urban
  1          Nguyenbury             8  Urban
  2        East Douglas            12  Urban
  3       West Dawnfurt            34  Urban
  4      Rodriguezburgh            52  Urban
  5   South Josephville             4  Urban
  6    West Sydneyhaven            70  Urban
  7         Travisville            37  Urban
  8         Torresshire            70  Urban
  9           Lisaville            66  Urban
  10          Mooreview            34  Urban
  11         Smithhaven            67  Urban
  12        Carrollfort            55  Urban
  13    Port Josephfurt            28  Urban
  14   Lake Jeffreyland            15  Urban
  15        South Louis            12  Urban
  16         West Peter            61  Urban
  17    Kimberlychester            13  Urban
  18         Alyssaberg            67  Urban
  19           Sarabury            46  Urban
  20        Yolandafurt             7  Urban
  21        Edwardsbury            11  Urban
  22    New Andreamouth            42  Urban
  23          New David            31  Urban
  24         Arnoldview            41  Urban
  25       Williamshire            70  Urban
  26           Lisatown            47  Urban
  27          New Aaron            60  Urban
  28        Swansonbury            64  Urban
  29         Fosterside            69  Urban
  ..                ...           ...    ...
  36        Spencertown            68  Urban
  37        Russellport             9  Urban
  38           Maryside            20  Urban
  39        West Alexis            47  Urban
  40      Port Samantha            55  Urban
  41           Eriktown            15  Urban
  42        Pamelahaven            30  Urban
  43       Aprilchester            49  Urban
  44          South Roy            35  Urban
  45        Pearsonberg            43  Urban
  46         Sandymouth            11  Urban
  47          East Erin            43  Urban
  48      Port Johnstad            22  Urban
  49         Vickimouth            13  Urban
  50          Jacobfort            52  Urban
  51    South Bryanstad            73  Urban
  52         West Oscar            11  Urban
  53       Antoniomouth            21  Urban
  54        Stewartview            49  Urban
  55        West Brandy            12  Urban
  56          Davidtown            73  Urban
  57        Kellershire            51  Urban
  58     Zimmermanmouth            45  Urban
  59    Port Martinberg            44  Urban
  60     Lake Sarashire             8  Urban
  61          Prattfurt            43  Urban
  62          Davistown            25  Urban
  63   West Jefferyfurt            65  Urban
  64      Lake Jennaton            65  Urban
  65       Alvarezhaven            21  Urban

  [66 rows x 3 columns])]

In [26]:
for group_key, group_value in pd_file.groupby('type'):
    print(group_key)
    print(group_value)

Rural
                     city  driver_count   type
108  South Elizabethmouth             3  Rural
109         East Troybury             3  Rural
110             Kinghaven             3  Rural
111          New Johnbury             6  Rural
112              Erikport             3  Rural
113           Jacksonfort             6  Rural
114           Shelbyhaven             9  Rural
115           Matthewside             4  Rural
116          Kennethburgh             3  Rural
117          South Joseph             3  Rural
118         Manuelchester             7  Rural
119           Stevensport             6  Rural
120         North Whitney            10  Rural
121          East Stephen             6  Rural
122           East Leslie             9  Rural
123        Hernandezshire            10  Rural
124             Horneland             8  Rural
125        West Kevintown             5  Rural
Suburban
                     city  driver_count      type
66            Carrollbury             4  Suburban
67         Williamchester            26  Suburban
68       New Michelleberg             9  Suburban
69              West Evan             4  Suburban
70     South Gracechester            19  Suburban
71   East Jenniferchester            22  Suburban
72          West Paulport             5  Suburban
73     New Brandonborough             9  Suburban
74             Floresberg             7  Suburban
75            Lake Brenda            24  Suburban
76                Kyleton            12  Suburban
77             Thomastown             1  Suburban
78   South Shannonborough             9  Suburban
79             Jeffreyton             8  Suburban
80      Port Michelleview            16  Suburban
81     West Pamelaborough            27  Suburban
82              Sarahview            18  Suburban
83       New Cindyborough            20  Suburban
84             Port James            15  Suburban
85       New Samanthaside            16  Suburban
86               Paulfort            13  Suburban
87              Jasonfort            25  Suburban
88             North Tara            14  Suburban
89        East Cherylfurt             9  Suburban
90          Rodriguezview            10  Suburban
91             Tiffanyton            21  Suburban
92        Port Alexandria            27  Suburban
93         South Jennifer             6  Suburban
94             Anitamouth            16  Suburban
95            Conwaymouth            18  Suburban
96               New Lynn            20  Suburban
97              Port Jose            11  Suburban
98               Johnland            13  Suburban
99              West Tony            17  Suburban
100            Port James             3  Suburban
101          Campbellport            26  Suburban
102          Port Guytown            26  Suburban
103           Webstertown            26  Suburban
104             Clarkstad            21  Suburban
105       North Tracyfort            18  Suburban
106           Martinmouth             5  Suburban
107      New Jessicamouth            22  Suburban
Urban
                 city  driver_count   type
0          Kelseyland            63  Urban
1          Nguyenbury             8  Urban
2        East Douglas            12  Urban
3       West Dawnfurt            34  Urban
4      Rodriguezburgh            52  Urban
5   South Josephville             4  Urban
6    West Sydneyhaven            70  Urban
7         Travisville            37  Urban
8         Torresshire            70  Urban
9           Lisaville            66  Urban
10          Mooreview            34  Urban
11         Smithhaven            67  Urban
12        Carrollfort            55  Urban
13    Port Josephfurt            28  Urban
14   Lake Jeffreyland            15  Urban
15        South Louis            12  Urban
16         West Peter            61  Urban
17    Kimberlychester            13  Urban
18         Alyssaberg            67  Urban
19           Sarabury            46  Urban
20        Yolandafurt             7  Urban
21        Edwardsbury            11  Urban
22    New Andreamouth            42  Urban
23          New David            31  Urban
24         Arnoldview            41  Urban
25       Williamshire            70  Urban
26           Lisatown            47  Urban
27          New Aaron            60  Urban
28        Swansonbury            64  Urban
29         Fosterside            69  Urban
..                ...           ...    ...
36        Spencertown            68  Urban
37        Russellport             9  Urban
38           Maryside            20  Urban
39        West Alexis            47  Urban
40      Port Samantha            55  Urban
41           Eriktown            15  Urban
42        Pamelahaven            30  Urban
43       Aprilchester            49  Urban
44          South Roy            35  Urban
45        Pearsonberg            43  Urban
46         Sandymouth            11  Urban
47          East Erin            43  Urban
48      Port Johnstad            22  Urban
49         Vickimouth            13  Urban
50          Jacobfort            52  Urban
51    South Bryanstad            73  Urban
52         West Oscar            11  Urban
53       Antoniomouth            21  Urban
54        Stewartview            49  Urban
55        West Brandy            12  Urban
56          Davidtown            73  Urban
57        Kellershire            51  Urban
58     Zimmermanmouth            45  Urban
59    Port Martinberg            44  Urban
60     Lake Sarashire             8  Urban
61          Prattfurt            43  Urban
62          Davistown            25  Urban
63   West Jefferyfurt            65  Urban
64      Lake Jennaton            65  Urban
65       Alvarezhaven            21  Urban

[66 rows x 3 columns]